<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="layout.css">
	<title>tes</title>
</head>

<body>

<!-- header -->
<div class="header">
	<h1> aw <br>
	<small>welcome</small> 
	</h1>
</div>

<!-- menu -->
<div class="menu">
	<ul>
		<li><a href="#">home</a></li>
		<li><a href="#">product</a></li>
		<li><a href="#">service</a></li>
		<li><a href="#">contact</a></li>
	</ul>

	
</div>
<!-- content -->
<div class="content">
	<div class="subcon"></div>
	<div class="subcon"></div>
	<div class="subcon"></div>

</div>

</body>
</html>